@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 25px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 10px solid orangered;
  background: dodgerblue;
  font-size: 20px;
}
.navbar h1 {
  color: white;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: white;
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
img {
  height: 283px;
}
.home h1 {
  background: gray;
  width: 163px;
  color: white;
  box-shadow: 5px 5px 5px 5px #333;
}
.Ticket-preview {
  padding: 15px 16px;
  margin: 20px 0;
  border-bottom: 10px solid rgb(184, 181, 180);
  background: dodgerblue;
  font-weight: 800;
}
.Ticket-preview:hover {
  box-shadow: 10px 5px 25px #333;
}
.Ticket-preview h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 8px;
}
.Ticket-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: dodgerblue;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: dodgerblue;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: inline-block;
}
.create h2 {
  font-size: 30px;
  color: dodgerblue;
  margin-bottom: 30px;
  background: rgb(190, 182, 182);
  height: 45px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 3px solid orangered;
  box-sizing: border-box;
  display: inline-block;
}
.create button {
  background: dodgerblue;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  padding: 10px;
  column-width: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-top: 10px solid orangered;
  background: dodgerblue;
  font-size: 20px;
  text-align: left;
  height: 75px;
}
